<div class="container-fluid vh-100">
  <div class="row bg-light">
    <mat-toolbar class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
      </div>
      <div>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
  <div class="row h-100 overflow-hidden bg-light">
    <mat-sidenav-container class="overflow-hidden">
      <mat-sidenav #sidenav mode="side" opened class="overflow-hidden bg-light">
        <div
          class="row d-flex flex-column align-items-center justify-content-center "
        >
          <img
            class="rounded-circle w-75 p-3"
            src="https://firebasestorage.googleapis.com/v0/b/angular-dashboard-29f24.firebasestorage.app/o/profile-pic.webp?alt=media&amp;token=96b5e9d4-0144-4485-8de8-25a56ab73b31"
          />
          <div class="mb-2 text-center">
            <p class="h5">Giovanni Figliolini</p>
            <p class="h6">Admin</p>
          </div>
        </div>

        <div class="row">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <a class="icon-link text-decoration-none text-dark" href="#">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="developer_board"
                ></mat-icon>
                Dashboard
              </a>
            </mat-list-item>
            <mat-list-item role="listitem">
              <a class="icon-link text-decoration-none text-dark" href="#">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="subscriptions"
                ></mat-icon>
                Content
              </a>
            </mat-list-item>
            <mat-list-item role="listitem">
              <a class="icon-link text-decoration-none text-dark" href="#">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="monitoring"
                ></mat-icon>
                Analytics
              </a>
            </mat-list-item>
            <mat-list-item role="listitem">
              <a class="icon-link text-decoration-none text-dark" href="#">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="chat"
                ></mat-icon>
                Comments
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-sidenav>

      <mat-sidenav-content class="bg-white">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
